@charset "utf-8";
/* CSS Document */
h1,h2,h3,h4,h5,h6,body,p,ul,ol,dl,dt,dd,input{margin:0;padding:0;}
a{color:#333; text-decoration:none;}
li{ list-style:none;}
img{border:none; vertical-align:top;}

body{color:#333; font-size:12px;}
.fl{ float:left;}
.fr{ float:right;}
.clear:after{ content:''; display:block; clear:both;}
.blk{ display:block;}
.posr{ position:relative;}
.mauto{ width:980px; margin:0 auto;}
input{ border:none; background:none; outline:none;}
.ovden{overflow:hidden;}
.mb25{ margin-bottom:25px;}
.mb15{ margin-bottom:15px;}
.mb40{ margin-bottom:40px;}
.mr20{ margin-right:20px;}
.mt10{ margin-top:10px;}
.w380{ width:380px;}
.w180{ width:180px;}
.w780{ width:780px;}