*{
	margin: 0;
	padding: 0;
}

.clear:after{
	content:'';display: block;clear:both;
}

.fl{
	float:left;
}

html,body,.container{
	width:100%;
	height:100%;
}

.river{
	width:30%;
	height:100%;
}

.load_l,.load_r{
	width:35%;
	height:100%;
}
